@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    background-image: url(Img/sketch-5622725_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
    


#calc {
    width: 600p;
    padding: 5em;
    background-color: rgba(194, 194, 194, 0.877);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

#calc h3{
    font-size: 2em;
    font-weight: 600;
    color:rgba(9, 0, 41, 0.753);
    text-align: right;
}

#operations{
    text-align: left;
}

#previous-operation,#current-operation{
    min-width: 1.6em;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#previous-operation{
    color: #377;

}

#current-operation{
    font-size: 3em;
    font-weight: 600;
}

#buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
}

#buttons-container button{
    border: 1px solid transparent;
    border-radius: 2.5px;
    height: 2em;
    width: 5em;
    font-size: 1.4em;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;  
}

#buttons-container .number{
    background-color: #eeeded;
    border-color: #999;
}

#buttons-container button:hover{
    background-color: rgba(229, 255, 0, 0.87);
}

#buttons-container #equal-btn{
    grid-column: span 2.5;
    background-color: #377;
    transition: 0.2s;
}

#buttons-container #equal-btn:hover{
    background-color: rgb(58, 182, 182);
    border-color: #999;
}

